<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=""UTF-8"">
    <meta name = "viewport" content ="width=device-width, initial-scale=1.0">

    <title>Followers</title>

</head>
<body>
    <table>
        <thead>
            <tr>
                <th>username</th>
                <th>time</th>
            </tr>
        </thead>
        <tbody>
            <% followersList.forEach(function(follower) { %>
                <tr>
                    <td><a href="<%= follower.link %>" target="_blank"><%= follower.username %></a></td>
                    <td><%= follower.time %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>